<p class="heading">
    <mat-icon color=primary>shield</mat-icon>
    <span>Column Details for 'Life Boat' </span>
    <span style="flex: 1 1 auto"></span>
    <mat-icon class="material-icons-outlined" (click)="onCancel()" style="cursor:pointer;">
        close
    </mat-icon>
</p>
<h2 style="color: orangered;">Life Boat</h2>
<div class="row">
    <div class="col-3">
        <h2>Summary:</h2>
        <p>Category</p>
        <div class="progress">
            <div class="progress-bar bg-secondary" role="progressbar" style="width: 70%" aria-valuenow="30"
                aria-valuemin="0" aria-valuemax="100"></div>
            <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30"
                aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p class="text-danger">Missing 0.00%</p>
        <p class="text-danger">Infinite 0.00%</p>
        <p class="text-info">ID-ness 2.14%</p>
        <p class="text-secondary">Stability 82.67%</p>
        <p class="text-success">Valid 34.99%</p>
    </div>
    <div class="col-9">
        <h2>Top Values:</h2>
        <div>
            <figure id="bar"></figure>
        </div>
    </div>
</div>
<div>
    <h3 style="font-weight: bold;">28 Distinct Values:</h3>
    <table class="table table-bordered">
        <thead style="background-color: grey;">
            <tr>
                <th>Value</th>
                <th>Count</th>
                <th>Percentage</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>none</td>
                <td>823</td>
                <td>82.8%</td>
            </tr>
            <tr>
                <td>13</td>
                <td>82</td>
                <td>52.8%</td>
            </tr>
            <tr>
                <td>C</td>
                <td>23</td>
                <td>32.8%</td>
            </tr>
        </tbody>
    </table>
</div>