.progress-loader {
  display: flex;
  justify-content: center;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  align-items: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3);
}
