<div>
  <div class="head">
    <p><strong>Select Attributes</strong></p>
    <mat-icon class="material-icons-outlined" (click)="onCancel()" style="cursor:pointer">
      close
    </mat-icon>
  </div>
  <h2 class="text-center">{{ selected_trans_name | uppercase }}</h2>
  <div class="divContainer">
    <div class="mt-2" style="display: flex;flex-direction: row;align-items: center;justify-content:space-around;">
      <h3 style="font-weight: 500;" class="ml-2">Imported files :</h3>
      <mat-form-field appearance="outline" style="margin-left:13%;">
        <mat-select [(ngModel)]="selectedFile" (selectionChange)="valuechange()">
          <mat-option *ngFor="let name of fileNames" [value]="name">
            {{name.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngFor="let name of transformationNameOperation | keyvalue">
      <div class="row attrRow" *ngIf="name.key == selected_trans_name">
        <!-- <h2 class="heading">{{ name.key }}</h2> -->
        <form #form="ngForm" autocomplete="off">
          <div class="row1" *ngFor="let dropdown of dropdownColsArr">
            <div class="col_name">{{ dropdown }}</div>
            <div *ngIf="dropdown == 'Column-1'">
              <!-- <mat-form-field appearance="outline">
                <mat-select [(ngModel)]="column_name1" name="columnName1" #columnName1="ngModel" required>
                  <input matInput type="text" (input)="onKey()" class="input" placeholder="search..." autocomplete="off">
                  <div class="optionsContainer">
                    <mat-option *ngFor="let col of col_names1" [value]="col" [disabled] = "col == column_name1 || col == column_name2">
                      {{ col }}
                    </mat-option>
                  </div>
                </mat-select>
              </mat-form-field>
              <mat-hint class="mat-error" *ngIf="columnName1.errors?.required && columnName1.errors?.touched">Required!</mat-hint> -->
              <!-- <mat-form-field appearance="outline">
                <mat-select [(ngModel)]="selectedFile" name="selectedFile" #selectedFile="ngModel" required>
                  <mat-select-filter [array]="variables3" (filteredReturn)="filteredList3"></mat-select-filter>
                  <div class="optionsContainer">
                    <mat-option *ngFor="let item of fileNames" [value]="item">
                      {{item}}
                    </mat-option>
                  </div>
                </mat-select>
              </mat-form-field> -->
              <!-- <div class="mt-2"
                style="display: flex;flex-direction: row;align-items: center;justify-content:space-around;">
                <h3 style="font-weight: 500; margin-right: 15px;">Imported files :</h3>
                <mat-form-field appearance="outline" class="ml-5">
                  <mat-select>
                    <mat-option *ngFor="let name of fileNames" [value]="name">
                      {{name.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div> -->
              <mat-form-field appearance="outline">
                <mat-select [(ngModel)]="column_name1" name="columnName1" #columnName1="ngModel" required>
                  <mat-select-filter [array]="variables1" (filteredReturn)="filteredList1 =$event"></mat-select-filter>
                  <div class="optionsContainer">
                    <mat-option *ngFor="let item of filteredList1" [value]="item"
                      [disabled]="item == column_name1 || item == column_name2">
                      {{item}}
                    </mat-option>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>
            <div *ngIf="dropdown == 'Column-2'">
              <!-- <mat-form-field appearance="outline">
                <mat-select [(ngModel)]="column_name2" name="columnName2" #columnName2="ngModel" required>
                  <input matInput type="text" (keyup)="on_key($event)" class="input" placeholder="search..." autocomplete="off">
                  <div class="optionsContainer">
                  <mat-option *ngFor="let col of col_names2" [value]="col" [disabled] = "col == column_name1 || col == column_name2">
                    {{ col }}
                  </mat-option>
                </div>
                </mat-select>
              </mat-form-field>
              <mat-hint class="mat-error" *ngIf="columnName2.errors?.required && columnName2.errors?.touched">Required!</mat-hint> -->
              <mat-form-field appearance="outline">
                <mat-select [(ngModel)]="column_name2" name="columnName2" #columnName2="ngModel" required>
                  <mat-select-filter [array]="variables2" (filteredReturn)="filteredList2 =$event"></mat-select-filter>
                  <div class="optionsContainer">
                    <mat-option *ngFor="let item of filteredList2" [value]="item"
                      [disabled]="item == column_name1 || item == column_name2">
                      {{item}}
                    </mat-option>
                  </div>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <ng-container class="row1" *ngFor="let val of dropdownColsArr">
            <!-- <div class="row1" *ngFor="let val of dropdownColsArr"> -->
            <!-- <div class="col_name">{{ val }}</div> -->
            <div *ngIf="val == 'Hard Coded Value'">
              <mat-form-field appearance="outline">
                <input matInput type="text" [(ngModel)]="userInput" name="hardCode" #hardCode="ngModel" required>
              </mat-form-field>
              <mat-hint class="mat-error" *ngIf="hardCode.errors?.required && hardCode.errors?.touched">Required!
              </mat-hint>
            </div>
            <!-- </div> -->
          </ng-container>
          <!-- <ng-container class="row1" *ngFor="let newInput of enterNewColValueArr"> -->
          <div class="row1" *ngFor="let newInput of enterNewColValueArr">
            <div class="col_name">{{ newInput }}</div>
            <div *ngIf="newInput == 'Enter Input Values'">
              <mat-form-field appearance="outline">
                <input matInput [pattern]="pattern" type="text" [(ngModel)]="enterInputValue" name="newInput"
                  #newInput="ngModel" required [matTooltip]="tooltipData" #input>
              </mat-form-field>
              <mat-hint style="display: block;">{{ tooltipData }}</mat-hint>
              <mat-hint class="mat-error" *ngIf="newInput.errors?.required && newInput.errors?.touched">Required!
              </mat-hint>
            </div>
          </div>
          <!-- </ng-container> -->
          <div class="row1" *ngFor="let col of newColsArr">
            <div class="col_name">{{ col }}</div>
            <div>
              <mat-form-field appearance="outline">
                <input matInput type="text" [(ngModel)]="enterNewColValue" name="newCol" #newCol="ngModel" required>
              </mat-form-field>
              <mat-hint class="mat-error" *ngIf="newCol.errors?.required && newCol.errors?.touched">Required!</mat-hint>
            </div>
          </div>
        </form>
        <br>
        <div class="closeBtns">
          <button (click)="onSubmit()" class="apply" [disabled]="form.invalid">Apply</button>
          <button (click)="onCancel()" class="cancel">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>