// table{
//   width:100%;
//   // height: 40vh;
//   overflow: scroll;
// }
// th,td{
//   border:1px solid gray;
// }
// th{
//   background-color: lightgray;
//   font-size: large;
// }
::ng-deep .mat-dialog-container{
  // background: linear-gradient(to right ,#DDEAFF,white);
  // background: #DDEAFF;
  // background: rgb(183,218,255);
  // height:80vh;
  border-radius: 8px;
  // border-radius: 8px;
  // padding: 10px 10px 24px 10px;
  padding: 20px;
  overflow: hidden;
}
mat-checkbox{
  display: block;
}
.divContainer{
  // background: white;
  // background-color: #f1f1f1;
    height: 100%;
    padding: 10px;
    // border-radius: 8px;
    border: 1px solid grey;
    border-radius: 8px;
    height: 65vh;
    // overflow-y: scroll;
}
.col1, .col2{
  // border:1px solid gray;
  width: 100%;
  padding: 10px;
  height: 53vh;
  padding: 10px;
}
.attrRow{
  padding: 0 10px;
  height: 50vh;
  // overflow-y: scroll;
}
.btns button{
  height: 30px;
    display: block;
    border-radius: 4px;
    margin: 50x 0;
    margin: 5px 14px;
}
.btns{
  // display: flex;
  // align-items: center;
  // vertical-align: middle;
  position: relative;
  bottom: -15vw;
}
.list{
  // height: 45vh;
  overflow: auto;
  background-color: white;
  /* margin: 0px 0; */
  padding: 10px;
  border-radius: 4px;
}
.btns button mat-icon{
  background: rgb(129, 198, 238);
  color: white;
  border-radius: 50%;
}
.head{
  display: flex;
  justify-content: space-between;
}
.head button{
  width: 60px;
  height: 25px;
  border-radius: 4px;
  background: crimson;
  border:none;
  outline: none;
}
.head button mat-icon{
  font-size: 20px;
  color: white;
}
.closeBtns{
  width: 100%;
  display: flex;
  justify-content: center;
}
.closeBtns button{
  border-radius: 4px;
  margin: 5px;
  // border:none;
  height: 35px;
  padding:0 20px;
  width: 100px;
  // background: transparent;
}
.col1 input,
.col2 input{
  width:100%;
}
.apply{
  background-color: #28a745;
  color:white;
  border:none;
}
.cancel{
  background-color: #dc3545;
  color:white;
  border:none;
}
mat-form-field::ng-deep .mat-form-field-wrapper {
  padding: 0;
}

mat-form-field::ng-deep .mat-form-field-infix {
  border: none;

}

mat-form-field::ng-deep .mat-select-arrow-wrapper {
  display: inline;
}
.row1{
  width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    margin:10px;
}
.col_name{
  width:22%;
  font-size: 15px;
  font-weight: 500;
}
.input{
    height: 30px;
    margin: 10px;
    border: 1px solid grey;
    width: 90%;
    border-radius: 4px;
    box-shadow: 0 0 4px #000;
    padding-left:10px;
}
.heading{
  text-align:center;
}
form{
  width:100%;
}
.optionsContainer{
  height: 200px;
  overflow-y: scroll;
}
::ng-deep .mat-select-panel{
  overflow:hidden !important;
}
