<div>
  <div class="row">
    <div class="col-2">
      <div style="cursor:pointer">
        <mat-icon class="material-icons-outlined folder" style="color:rgb(44, 44, 156)">
          table_view
        </mat-icon>
        <span class="span">Data</span>
      </div>
      <mat-form-field appearance="outline">
        <mat-select [(ngModel)]="selectedFormat">
          <mat-option value="{{fileFormat}}" *ngFor="let fileFormat of fileFormats">{{ fileFormat }}</mat-option>
        </mat-select>
      </mat-form-field>
      <button class="downloadbtn" (click)="downloadFile();">
        <mat-icon class="material-icons-outlined downloadIcon">
          arrow_circle_down
        </mat-icon>
        Download
      </button>
      <button class="clnsBtn " (click)="cleans() "
        matTooltip="Prepare your data for later modelling - or Perform an automatic data cleanse"
        matTooltipPosition="right">
        <mat-icon>brush</mat-icon>
        <span>CLEANSE</span>
      </button>
      <div *ngIf="isShown" class="methods">
        <form [formGroup]="Form">
          <div class="pcaBlock mt-2">
            <button class="btn btn-block"
              [ngStyle]="{'background': isShowRemove ? 'rgb(45, 68, 102)':'none', 'color': isShowRemove ? 'white':'black'}"
              (click)="toggleDisplay4();selectMethod('removelowquality')" id="lowQuality"
              [disabled]="disabled('removelowquality')">REMOVE LOW
              QUALITY</button>
            <div *ngIf="isShowRemove">
              <div class="discrBlc">
                <mat-label>Max Nominal ID-ness(%):</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput formControlName="maxNominalId" type="number">
                </mat-form-field>
              </div>
              <div class="discrBlc">
                <mat-label>Max Integer ID-ness(%):</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput formControlName="maxInteger" type="number">
                </mat-form-field>
              </div>
              <div class="discrBlc">
                <mat-label>Max Stability(%):</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput formControlName="maxStability" type="number">
                </mat-form-field>
              </div>
              <div class="discrBlc">
                <mat-label>Max Missing(%):</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput formControlName="maxMissing" type="number">
                </mat-form-field>
              </div>
              <div class="discrBlc">
                <mat-label>Max Nominal values:</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput formControlName="maxNominal" type="number">
                </mat-form-field>
              </div>
              <button class="applybtn" (click)="applyCommit()" [disabled]="Form.controls.inputName.value== ''">
                <mat-icon style="cursor: pointer;">done</mat-icon>
                <span>APPLY</span>
              </button>
            </div>
          </div>

          <div class="pcaBlock mt-2">
            <button class="btn btn-block"
              [ngStyle]="{'background': isShowcorrelat ? 'rgb(45, 68, 102)':'none', 'color': isShowcorrelat ? 'white':'black'}"
              (click)="toggleDisplay5();selectMethod('removecorrelated')" id="correlated"
              [disabled]="disabled('removecorrelated')">REMOVE
              CORRELATED</button>
            <div *ngIf="isShowcorrelat">
              <mat-form-field appearance="outline">
                <input matInput formControlName="inputName" type="number">
              </mat-form-field>
              <button class="applybtn" (click)="applyCommit()" [disabled]="Form.controls.inputName.value== ''">
                <mat-icon style="cursor: pointer;">done</mat-icon>
                <span>APPLY</span>
              </button>
            </div>
          </div>
          <div class="pcaBlock mt-2">
            <button class="btn btn-block"
              [ngStyle]="{'background': isShowReplace ? 'rgb(45, 68, 102)':'none', 'color': isShowReplace ? 'white':'black'}"
              (click)="toggleDisplay6();selectMethod('replacemissing')" id="replace"
              [disabled]="disabled('replacemissing')">REPLACE
              MISSING</button>
            <div *ngIf="isShowReplace">
              <div class="discrBlc">
                <mat-label>Nominal Missings:</mat-label>
                <mat-form-field appearance="outline">
                  <mat-select (selectionChange)="setValue()" formControlName="methodName">
                    <mat-option *ngFor="let method of replaceMethods" [value]="method.name"
                      [disabled]="method.name==selectedOption||method.name==selectedOption1||method.name==selectedOption2||method.name==selectedOption3||method.name==selectedOption4||method.name==selectedOption5">
                      {{method.name}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="input-group mb-3" [hidden]="Form.controls.methodName.value !=='specifiedvalue'">
                <input type="text" class="form-control" formControlName="inputName" name="inputName" id="inputName"
                  autocomplete="off">
                <span class="input-group-text">
                  <button type="reset" class="applybtn">
                    <mat-icon>close</mat-icon>
                  </button>
                </span>
              </div>
              <button class="applybtn" (click)="applyCommit()" [disabled]="applyDisabled ">
                <mat-icon style="cursor: pointer;">done</mat-icon>
                <span>APPLY</span>
              </button>
            </div>
          </div>
          <div class="pcaBlock mt-2">
            <button class="btn btn-block" (click)="toggleDisplay1();selectMethod('normalization')"
              [ngStyle]="{'background': isShowNormal ? 'rgb(45, 68, 102)':'none', 'color': isShowNormal ? 'white':'black'}"
              id="normalization" [disabled]="disabled('normalization')">NORMALIZATION</button>
            <div *ngIf="isShowNormal">
              <mat-form-field appearance="outline">
                <mat-select formControlName="methodName">
                  <mat-option *ngFor="let method of normlMethods" [value]="method">
                    {{method}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button class="applybtn" (click)="applyCommit()" [disabled]="Form.controls.inputName.value== ''">
                <mat-icon style="cursor: pointer;">done</mat-icon>
                <span>APPLY</span>
              </button>
            </div>
          </div>
          <div class="pcaBlock mt-2">
            <button class="btn btn-block" (click)="toggleDisplay3();selectMethod('discretization')"
              [ngStyle]="{'background': isShowDiscrmnal ? 'rgb(45, 68, 102)':'none', 'color': isShowDiscrmnal ? 'white':'black'}"
              id="discretization" [disabled]="disabled('decretization')">DISCRETIZATION</button>
            <div *ngIf="isShowDiscrmnal">
              <div class="discrBlc">
                <mat-label>Number of bins:</mat-label>
                <mat-form-field appearance="outline">
                  <input matInput formControlName="inputName" type="number">
                </mat-form-field>
              </div>
              <mat-form-field appearance="outline">
                <mat-select formControlName="methodName">
                  <mat-option *ngFor="let method of pcaMethods" [value]="method">
                    {{method}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button class="applybtn" (click)="applyCommit()" [disabled]="Form.controls.inputName.value== ''">
                <mat-icon style="cursor: pointer;">done</mat-icon>
                <span>APPLY</span>
              </button>
            </div>
          </div>

          <div class="pcaBlock mt-2">
            <button class="btn btn-block" (click)="toggleDisplay2();selectMethod('removeduplicates')"
              [ngStyle]="{'background': isShowDuplic ? 'rgb(45, 68, 102)':'none', 'color': isShowDuplic ? 'white':'black'}"
              id="duplicates" [disabled]="disabled('removeduplicates')">REMOVE
              DUPLICATES</button>
            <div *ngIf="isShowDuplic">
              <mat-checkbox class="ml-2 " formControlName="removeDup" [checked]="isChecked">
                Treat missing values as
                duplicate?</mat-checkbox>
              <button class="applybtn" (click)="applyCommit();toggleDisplay2();" [disabled]="applyDupDisabled">
                <mat-icon style="cursor: pointer;">done</mat-icon>
                <span>APPLY</span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-10">
      <div class="table-container">
        <div class="table-container-header" style>
          <button class="resultBtn">Result</button>
          <button class="searchBtn">
            <mat-icon class="material-icons-outlined">
              search
            </mat-icon>
          </button>
          <input type="text" placeholder="Search here.." (keyup)="applyFilter($event)" id="myInput" autocomplete="off">
          <!-- <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
            placeholder="Search here.."> -->
          <button mat-button-raised class="savebtn" (click)="saveFile()"
            *ngIf="!fileuploadservice.isJoined">Save</button>

          <button mat-button-raised class="undoBtn ml-2" (click)="undoChanges()">
            <mat-icon class="material-icons-outlined" style="cursor:pointer;color:white">
              undo
            </mat-icon>Undo
          </button>
          <!-- <button mat-button-raised class="undoBtn ml-2" *ngIf="deletedColumn.length > 0" (click)="undoChanges()">
            <mat-icon class="material-icons-outlined" style="cursor:pointer;color:white">
              undo
            </mat-icon>Undo
          </button> -->

        </div>
        <p class="_tab"></p>
        <!-- <div class="table table-responsive" *ngIf="result_data"> -->

        <div class="example-container mat-elevation-z8">




          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 ">
            <ng-container *ngFor="let columnName of columnNames;index as i" [matColumnDef]="columnName">
              <th mat-header-cell *matHeaderCellDef (click)="isShown==true?selectColumn(columnName,i):'' "
                [ngStyle]="{'background': activeColumn == i ? 'rgba(224, 128, 19, 0.884)':'none'}"
                style="cursor: pointer;">{{ columnName }}
                <mat-icon class="material-icons-outlined delIcon" *ngIf="selectedFormat==''?!isdeleted:isdeleted"
                  (click)="onColumnselect(i)" style="cursor: pointer;" matTooltip="delete">
                  delete
                </mat-icon>
              </th>
              <td mat-cell *matCellDef="let row" (click)="isShown==true?selectColumn(columnName,i):'' "
                [ngStyle]="{'background': activeColumn == i  ? 'rgb(240, 218, 210)':'none'}">{{ row[columnName] }}</td>
            </ng-container>
            <ng-container matColumnDef="disclaimer" class="colfooter">
              <td mat-footer-cell *matFooterCellDef [attr.colspan]="fileuploadservice.columns">
                No.of Rows: {{fileuploadservice.rows}} , No.of Columns:{{fileuploadservice.columns}}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnNames" class="thead "></tr>
            <tr mat-row *matRowDef="let row; columns: columnNames"></tr>
            <tr class="mat-row" *matNoDataRow>
              <td class="mat-cell" [attr.colspan]="fileuploadservice.columns">
                {{messages.noRecordsFoundMsg}}
              </td>
            </tr>
            <tr mat-footer-row *matFooterRowDef="['disclaimer'] ;sticky: true" class="example-second-footer-row"></tr>
          </table>
        </div>
        <mat-paginator [pageSizeOptions]="[50, 100, 150]" [length]="fileuploadservice.tableLength"
          (page)="pagesize($event)" aria-label="Select page">
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
<app-loader [isLoading]="isLoading"></app-loader>