.example-container {
   
    width: 98%;
    height: 90vh;
    margin: 10px;
    border: 1px solid #555;
  }
  .drawer{
    width:200px
  }
  
  th.tablehead{
    width: 100%;
  }
  table, th, td{
    width: 100%;
    border:1px solid grey;
    // max-height: 40px !important;
    white-space: nowrap !important;
    overflow: auto;
  }
  .table-responsive{
   
    width: auto;
   overflow: auto; 
    margin: 10px;
    height: 75vh;
    
  }
  .folder{
    margin: 10px 5px 0;
  }
  .span{
    position: relative;
    top: -6px;
  }
  
  .mat-drawer-content{
    height: 99%;
    overflow: none;
  }
.downloadbtn{
  padding: 4px 16px;
  border-radius: 4px;
  margin: 10px auto;
  display: flex;
}
mat-form-field::ng-deep .mat-form-field-wrapper {
  padding: 0;
  width: 140px;
  display: flex;
  justify-content: center;
}

mat-form-field::ng-deep .mat-form-field-infix {
  border: none;
}

mat-form-field::ng-deep .mat-select-arrow-wrapper {
  display: inline;
}
 .mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
  width: 150px;
  margin-left: 20px;
}
mat-form-field::ng-deep .mat-form-field-flex{
  margin-left:25px;
}
.delIcon{
  font-size: 18px;
  position: relative;
  top: 5px;
  // float: right;
}
.tablehead{
  
  min-width:200px;
}
.downloadIcon{
  position: relative;
  top:0px;
  font-size: 20px;
}
.undoBtn{
  background-color: #1746c7;
  width: 7%;
  height: 70%;
  color:white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.deletebtn{
  background-color: #1746c7;
  width: 7%;
  height: 70%;
  color:white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.col-2,.col-10{
  border: 1px solid grey;
}
.col-2{
  border-right:0;
}
.row{
  height: 90vh;
  width: 98%;
  margin: auto;
  margin-top: 12px;
}
.table-container{
  border: 1px solid grey;
  box-shadow: 0px 0px 4px #000;
  height: 85vh;
  margin-top: 16px;
    // overflow: auto;
}
.example-container{
  height: 68vh;

  width: 99%;
  max-width: 100%;
  overflow: auto;
  margin: 10px;

}
.mat-header-cell {
  color: white !important;

  font-size: 16px !important;
  
}
.thead{
  background-color: #1746c7;
  // background-color:rgb(73, 73, 189) ;
  color:white;
}
th.mat-header-cell, td.mat-cell{


  text-align: center !important;
}
th.mat-header-cell, td.mat-cell {
  padding: 15px;
  width:auto;
}
mat-table {
  display: -webkit-inline-box !important; 
}
._tab{
  background: #e1e1e1;
  padding: 5px;
  padding-left: 20px;
  font-size: 12px;
  height: 30px;
}
.table-container-header{
  background: #efefef;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.table-container-header .resultBtn{
  border: none;
    width: 150px;
    height: 44px;
    position: relative;
    top: 0;
  background: #e1e1e1;
  font-weight: 500;
}
.table-container-header input{
  height: 30px;
  background-color: white;
  width: 60%;
  border:1px solid grey;
  // margin-left: 10px;
  margin-right: 10px;
  font-size: 12px;
  padding-left: 10px;
  outline: none;
}
// .table-container-header mat-icon{
//   position: relative;
//     top: 5px;
// }
.searchBtn{
  width: 35px !important;
    border: 1px solid grey !important;
    height: 30px !important;
    position: relative !important;
    // top: 7px !important;
    margin-left: 10px;
}
// .searchBtn mat-icon{
//   position: relative;
//   top: 2px;
// }
.savebtn{
  background-color: #1746c7;
  // background-color: navy;
  width: 7%;
  height: 70%;
  color:white
}
.clnsBtn{
  border: none;
  background-color: transparent;
  display:flex;
  flex-direction: row;
  align-items: center;
  outline:none;
  margin-top: 15%;
}
.clnsBtn:hover{
color:orangered;
}
.pcaBlock{
  border:1px solid gray;
  border-radius: 10px;
  .applybtn {
      border: none;
      background-color: transparent;
      display:flex;
      flex-direction: row;
      align-items: center;
      outline:none;
      margin: auto;
    }
}
.discrBlc{
  // display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-around;

 }
 
::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  line-height: 24px;
  white-space: initial;
}
 .methods{
   margin-top: 15%;
  button {
      border:1px solid black;
      border-radius: 10px;
  }
}
.td.mat-footer-cell {
  text-align: -webkit-left !important;
  
}
.mat-footer-cell {
  color:#1746c7 !important;
  font-weight: bold;
}