.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
        font-weight: 500;
    }
}
.mat-stepper-horizontal {
    margin-top: 8px;
}
.thead{
    background-color: rgb(45, 68, 102);
 color:white;
}

mat-form-field::ng-deep .mat-form-field-wrapper {
  padding: 0;
  
}

mat-form-field::ng-deep .mat-form-field-infix {
  border: none;
}

mat-form-field::ng-deep .mat-select-arrow-wrapper {
  display: inline;
}
.discrBlc{
    display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   }
   .handlestep{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left:45%;
   }
   ::ng-deep .mat-step-header:hover{
    background-color: transparent;
}

// ::ng-deep .mat-stepper-horizontal-line {
//     border-color: red !important;
// }
