<p class="heading">
    <mat-icon style="color:tomato">shield</mat-icon>
    <span>Auto Cleansing</span>
    <span style="flex: 1 1 auto"></span>
    <mat-icon class="material-icons-outlined" (click)="onCancel()" style="cursor:pointer;">
        close
    </mat-icon>
</p>
<mat-stepper labelPosition="bottom" color="warn">
    <mat-step label="Define Target">
        <div class="mt-3">
            <table class="table table-bordered">
                <thead class="thead">
                    <tr>
                        <th scope="col" *ngFor="let header of tableHeaders">{{header.header}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of tableData">
                        <td>{{data.class}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.gender}}</td>
                        <td>{{data.age}}</td>
                        <td>{{data.siblings}}</td>
                        <td>{{data.ticktNo}}</td>
                        <td>{{data.fare}}</td>
                        <td>{{data.cabin}}</td>
                        <td>{{data.boat}}</td>
                        <td>{{data.survive}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <button mat-button matStepperNext class="bg-success text-white">Next</button>
        </div>
    </mat-step>
    <mat-step label="Improve Quality">
        <div class="mt-3">
            <table class="table table-bordered">
                <thead class="thead">
                    <tr>
                        <th scope="col" *ngFor="let header of tableHeaders">{{header.header}}</th>
                    </tr>
                    <!-- <tr>
                        <th scope="col" *ngFor="let header of tableHeaders">{{header.type}}</th>
                    </tr> -->
                </thead>
                <tbody>
                    <tr *ngFor="let data of tableData">
                        <td>{{data.class}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.gender}}</td>
                        <td>{{data.age}}</td>
                        <td>{{data.siblings}}</td>
                        <td>{{data.ticktNo}}</td>
                        <td>{{data.fare}}</td>
                        <td>{{data.cabin}}</td>
                        <td>{{data.boat}}</td>
                        <td>{{data.survive}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext class="bg-success text-white">Next</button>
        </div>
    </mat-step>
    <mat-step label="Change Types">
        <div class="mt-3">
            <p style="text-align: center;font-weight: bold;">you might want to change all columns types to numerical or
                catergorical </p>
            <div class="discrBlc">
                <mat-label>Desired Column Types:</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select formControlName="methodName">
                        <mat-option *ngFor="let method of normlMethods" [value]="method">
                            {{method}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext class="bg-success text-white">Next</button>
        </div>
    </mat-step>
    <mat-step label="Handle Numbers">
        <p style="text-align: center;">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis totam eaque,
            obcaecati officia maiores
            veniam necessitatibus, cumque libero iure vitae esse? Expedita quas impedit odio maxime animi minima
            assumenda suscipit?</p>
        <div class="handlestep mt-3">
            <mat-checkbox>Perform PCA</mat-checkbox>
            <mat-checkbox>Perform Normalization</mat-checkbox>
        </div>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext class="bg-success text-white">Next</button>
        </div>
    </mat-step>
    <mat-step label="Summary">
        <button mat-button matStepperPrevious>Back</button>
    </mat-step>
</mat-stepper>