<div>
    <mat-icon class="material-icons-outlined" (click)="onCancel()" style="cursor:pointer;float: right;">
        close
    </mat-icon>
    <div class="div_container">
        <h2 class="text-center">Join Files</h2>
        <div class="commondiv">
            <h3 style="font-weight: 500;" class="ml-4">How Many Files to Join:</h3>
            <mat-form-field appearance="outline" class="ml-4">
                <mat-select [(ngModel)]="selectcount">
                    <mat-option *ngFor="let item of joincount" [value]="item">{{item}}</mat-option>
                </mat-select>

            </mat-form-field>
        </div>

        <div class="commondiv">
            <h3 style="font-weight: 500;" class="ml-4">File 1:</h3>
            <mat-form-field appearance="outline" style="margin-left: 8%;">
                <mat-select [(ngModel)]="selectedFile" (selectionChange)="valuechange1()">
                    <mat-option *ngFor="let name of fileName" [value]="name"
                        [disabled]="name==selectedFile1||name==selectedFile2">
                        {{name.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <h3 style="font-weight: 500;" class="ml-4">Key 1:</h3>
            <mat-form-field appearance="outline" class="ml-4">
                <mat-select [(ngModel)]="column_name1" name="columnName1" #columnName1="ngModel" required>
                    <mat-select-filter [array]="variables1" (filteredReturn)="filteredList1 =$event">
                    </mat-select-filter>
                    <div class="optionsContainer">
                        <mat-option *ngFor="let item of filteredList1" [value]="item">
                            {{item}}
                        </mat-option>
                    </div>
                </mat-select>
            </mat-form-field>

        </div>
        <div class="commondiv">
            <h3 style="font-weight: 500;" class="ml-4">File 2:</h3>
            <mat-form-field appearance="outline" style="margin-left: 8%;">
                <mat-select [(ngModel)]="selectedFile1" (selectionChange)="valuechange2()">
                    <mat-option *ngFor="let name of fileName" [value]="name"
                        [disabled]="name==selectedFile||name==selectedFile2">
                        {{name.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <h3 style="font-weight: 500;" class="ml-4">Key 2:</h3>
            <mat-form-field appearance="outline" class="ml-4">
                <mat-select [(ngModel)]="column_name2" name="columnName2" #columnName2="ngModel" required>
                    <mat-select-filter [array]="variables2" (filteredReturn)="filteredList2 =$event">
                    </mat-select-filter>
                    <div class="optionsContainer">
                        <mat-option *ngFor="let item of filteredList2" [value]="item">
                            {{item}}
                        </mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="commondiv" *ngIf="selectcount==3">
            <h3 style="font-weight: 500;" class="ml-4">File 3:</h3>
            <mat-form-field appearance="outline" style="margin-left: 8%;">
                <mat-select [(ngModel)]="selectedFile2" (selectionChange)="valuechange3()">
                    <mat-option *ngFor="let name of fileName" [value]="name"
                        [disabled]="name==selectedFile||name==selectedFile1">
                        {{name.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <h3 style="font-weight: 500;" class="ml-4">Key 3:</h3>
            <mat-form-field appearance="outline" class="ml-4">
                <mat-select [(ngModel)]="column_name3" name="columnName3" #columnName3="ngModel" required>
                    <mat-select-filter [array]="variables3" (filteredReturn)="filteredList3 =$event">
                    </mat-select-filter>
                    <div class="optionsContainer">
                        <mat-option *ngFor="let item of filteredList3" [value]="item">
                            {{item}}
                        </mat-option>
                    </div>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="commondiv">
            <h3 style="font-weight: 500;" class="ml-4"> Method Key:</h3>
            <mat-form-field appearance="outline" class="ml-4">
                <mat-select [(ngModel)]="methodKey">
                    <mat-option *ngFor="let item of methodKeys" [value]="item">{{item}}</mat-option>
                </mat-select>

            </mat-form-field>

        </div>
        <div class="btns mt-2">
            <button class="btn btn-success" (click)="onSubmit()" style="margin-right: 15px;">Submit</button>
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
    </div>
</div>
<app-loader [isLoading]="isLoading"></app-loader>