.div_container{
    border:1px solid grey;
    border-radius:4px;
    height: 60vh;
    padding: 10px;
  }
  .btns{
      
    display: flex;
    justify-content: center;
    margin-right: 10px;
  }
  .commondiv{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
  ::ng-deep .mat-dialog-container{
    border-radius: 8px;
    padding: 20px;
    overflow: hidden;
  }