<app-toolbar></app-toolbar>
<!-- <mat-nav-list class="sidenav-list">
    <a mat-list-item routerLink="/login" (click)="onToggleClose()">
        <mat-icon>input</mat-icon>
        <span>Login</span>
    </a>
    <a mat-list-item routerLink="/fileupload" (click)="onToggleClose()">
        <mat-icon>account_circle</mat-icon>
        <span>Signup</span>
    </a>
    <a mat-list-item routerLink="/accomodation" (click)="onToggleClose()">
        <mat-icon>hotel</mat-icon>
        <span>Accomodation</span>
    </a>
    <a mat-list-item routerLink="/offers" (click)="onToggleClose()">
        <mat-icon>loyalty</mat-icon>
        <span>Offers</span>
    </a> 
</mat-nav-list> -->