<div class="buttontabs">
  <!-- <button><a [ngClass]="{'active-link': url.includes('/fileupload')}"
            [routerLink]="['/fileupload']">Design</a></button>
    <button><a [ngClass]="{'active-link': url.includes('/results')}" [routerLink]="['/results']">Results</a></button> -->
  <!-- <button><a>Type</a></button> -->
  <!-- <span class="file-info">{{ fileInfo }}</span> -->
  <!-- <button><mat-icon class="material-icons-outlined">
      arrow_circle_right
      </mat-icon></button> -->
  <a [ngClass]="{'active-link': url.includes('/fileupload')}" [routerLink]="['/fileupload']">Design</a>
  <a [ngClass]="{'active-link': url.includes('/results')}" [routerLink]="['/results']">Results</a>
</div>
<hr>