.buttontabs{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
a{
  color:black;
  background-color: rgb(226, 225, 225);
  border:1px solid gray;
  width:100px;
  height:30px;
  text-align: center;
  padding:5px;
  text-decoration: none;
}
.active-link{
 text-decoration: none;
 color:black;
 background-color: rgb(161, 161, 161);
}
.buttontabs mat-icon{
  color:rgb(83, 139, 241);
}
.buttontabs button{
  background-color: #e2e1e1;
  border:1px solid grey;
  // border-radius: 4px;
  height: 30px;
}
