<div class="loginBg">
    <mat-card class='login-card'>
        <img src="assets/images/cbtlogo.png" class="logoImg">
        <h2 class='text-head'>DATA MIGRATION</h2>
        <mat-card-content>
            <form [formGroup]="loginForm">
                <div class="loginCardView">
                    <mat-form-field appearance="outline" style="width: 100%;">
                        <mat-label>User Name</mat-label>
                        <input formControlName="email" matInput required>
                        <mat-error>username is required</mat-error>
                    </mat-form-field>
                    <br>
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput required>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error>password is required</mat-error>
                    </mat-form-field>
                    <!-- <p class="error-message">{{ erroMesssage }}</p> -->
                    <div class="loginBtnDiv">
                        <button mat-raised-button type="submit" color="primary" (click)="login()">Login</button>
                        <!-- <button mat-raised-button class="register" (click)="userRegister()"
                            color="primary">Register</button> -->

                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

</div>
<!-- <app-loader [isLoading]="isLoading"></app-loader> -->
