<div>
    <div class="head">
        <p><strong>Help</strong></p>
        <mat-icon class="material-icons-outlined" (click)="onCancel()" style="cursor:pointer">
            close
        </mat-icon>
    </div>
    <div class="helpContainer">
        <div #content>

            <ul class="horizontal" id="nav">
                <li *ngFor="let state of transNames">
                    <a (click)="setStateAsActive(state.id)">
                        {{ state.name }}
                    </a>
                </li>
            </ul>

            <!-- <ul>
                <li>
                    <a tabindex="-1" (click)="joinbothnames.scrollIntoView({behavior:'smooth'}); joinNamesChange()">Join
                        Both
                        Names</a>
                </li>
                <li>
                    <a tabindex="-1"
                        (click)="formattingnames.scrollIntoView({behavior:'smooth'});formattingChange()">formatting
                        names</a>
                </li>
                <li>
                    <a tabindex="-1"
                        (click)="datetimeevent.scrollIntoView({behavior:'smooth'});dateChange()">datetimeevent</a>
                </li>
                <li>
                    <a tabindex="-1"
                        (click)="gettingnumber.scrollIntoView({behavior:'smooth'});gettingNoChange()">gettingnumber</a>
                </li>
                <li>
                    <a tabindex="-1"
                        (click)="gettingtext.scrollIntoView({behavior:'smooth'});gettingTxtChange()">gettingtext</a>
                </li>
                <li>
                    <a tabindex="-1"
                        (click)="hardcodedvalue.scrollIntoView({behavior:'smooth'});harcodeChange()">hardcodedvalue</a>
                </li>
                <li>
                    <a tabindex="-1"
                        (click)="incidentchanges.scrollIntoView({behavior:'smooth'});incidentChange()">incident
                        changes</a>
                </li>
                <li>
                    <a tabindex="-1"
                        (click)="evnttypeEnviNearmischanges.scrollIntoView({behavior:'smooth'});eventTypeChange()">evnttypeEnviNearmischanges</a>
                </li>
                <li>
                    <a tabindex="-1"
                        (click)="evntsubtypetruevalue.scrollIntoView({behavior:'smooth'}); eventSubchange()">evntsubtypetruevalue</a>
                </li>
                <li>
                    <a tabindex="-1"
                        (click)="getfatcatchanges.scrollIntoView({behavior:'smooth'});getfatChange()">getfatcatchanges</a>
                </li>
                <li>
                    <a tabindex="-1"
                        (click)="replacingvalue.scrollIntoView({behavior:'smooth'});replaceChange()">replacingvalue</a>
                </li>
                <li>
                    <a tabindex="-1"
                        (click)="combinereplacevalue.scrollIntoView({behavior:'smooth'}); combineChange()">combinereplacevalue</a>
                </li>
                <li>
                    <a tabindex="-1"
                        (click)="duplicatechange.scrollIntoView({behavior:'smooth'});duplicateChange()">duplicatechange</a>
                </li>
                <li>
                    <a tabindex="-1"
                        (click)="evntsubtypeProprtyRegulatorieschange.scrollIntoView({behavior:'smooth'});regularChange()">evntsubtypeProprtyRegulatorieschange</a>
                </li>
                <li>
                    <a tabindex="-1"
                        (click)="commachange.scrollIntoView({behavior:'smooth'});commaChange()">commachange</a>
                </li>
                <li>
                    <a tabindex="-1"
                        (click)="treatmentchange.scrollIntoView({behavior:'smooth'}); treatmentChange()">treatmentchange</a>
                </li>
                <li>
                    <a tabindex="-1"
                        (click)="changepolice.scrollIntoView({behavior:'smooth'});policeChange()">changepolice</a>
                </li>
                <li>
                    <a tabindex="-1"
                        (click)="datefunctions.scrollIntoView({behavior:'smooth'});datefunChange()">datefunctions</a>
                </li>
                <li>
                    <a tabindex="-1"
                        (click)="timechanges.scrollIntoView({behavior:'smooth'});timeChange()">timechanges</a>
                </li>
                <li>
                    <a tabindex="-1"
                        (click)="datatypechange.scrollIntoView({behavior:'smooth'});dataChange()">datatypechange</a>
                </li>
            </ul> -->

            <section id='joinbothnames'
                [ngStyle]="{'background-color':activetext == 'joinbothnames'? 'rgb(208, 238, 236)' : 'white' }">
                <h3 class="joinbothnames">Join Both Names</h3>
                <p>Based on user selected columns it will join two names</p>
                <p>Ex:- Debanth in one column and Hemanth in another column here we will get result as Hemanth Debanth
                </p>
            </section>

            <section id='formattingnames'
                [ngStyle]="{'background-color':activetext == 'formattingnames'? 'rgb(208, 238, 236)' : 'white' }">
                <h3 class="formatingnames">Formatting Names</h3>
                <p>Based on Selected column it will format from lastname,firstname</p>
                <p>Ex:- Debanth Hemanth here we will get result as Hemanth Debanth
                </p>
            </section>

            <section id='datetimeevent'
                [ngStyle]="{'background-color':activetext == 'datetimeevent'? 'rgb(208, 238, 236)' : 'white' }">
                <h3 class="datetime">Date Time Event</h3>
                <p>If the Date format is in dd/mm/yy or yy/mm/dd we will convert to MM/DD/YY</p>
            </section>

            <section id='gettingnumber'
                [ngStyle]="{'background-color':activetext == 'gettingnumber'? 'rgb(208, 238, 236)' : 'white' }">
                <h3 class="gettingno">Getting Number</h3>
                <p>Based on selected column if there are any numbers we will get and we will display</p>
                <p>Ex:- 85 km/hr we will get 85
                </p>
            </section>

            <section id='gettingtext'
                [ngStyle]="{'background-color':activetext == 'gettingtext'? 'rgb(208, 238, 236)' : 'white' }">
                <h3 class="gettingtext">Getting Text</h3>
                <p>Based on selected column if there are any Limit for speed we will get and we will display</p>
                <p>Ex:- 85 km/hr we will get km/hr
                </p>
            </section>

            <section id='hardcodedvalue'
                [ngStyle]="{'background-color':activetext == 'hardcodedvalue'? 'rgb(208, 238, 236)' : 'white' }">
                <h3 class="hardcode">Hardcoded Value</h3>
                <p>If we want to give same value for entire column we will give it in text field</p>
                <p>Ex:- 'Unilever'
                </p>
            </section>

            <section id='incidentchanges'
                [ngStyle]="{'background-color':activetext == 'incidentchanges'? 'rgb(208, 238, 236)' : 'white' }">
                <h3 class="incidentchanges">Incident Changes</h3>
                <p>If we want to change Names based on given criteria in text and given column in dropdown this will
                    search based on given name and will change</p>
                <p>Ex:- 'Near Miss','Incident'
                </p>
            </section>

            <section id='evnttypeEnviNearmischanges'
                [ngStyle]="{'background-color':activetext == 'evnttypeEnviNearmischanges'? 'rgb(208, 238, 236)' : 'white' }">
                <h3 class="evnttype">Event Type Envi Near MisChanges</h3>
                <p>If we want to get any text within braces like () we will give the text starts with in input field and
                    will get text in return</p>
                <p>Ex:- 'Environmental (cat 1)' is the text within selected column(Event type). If we give
                    'Environmental' in input field then we will get cat1 in return
                </p>
            </section>

            <section id='evntsubtypetruevalue'
                [ngStyle]="{'background-color':activetext == 'evntsubtypetruevalue'? 'rgb(208, 238, 236)' : 'white' }">
                <h3 class="evntsubtypetruevalue">Event Sub Type true Value</h3>
                <p>If selected column contains given input field then we will return True for that row in a column</p>
                <p>Ex:- 'Suspected Case of Illness' is the input field and selected column is Event Type then we will
                    get True
                </p>
            </section>

            <section id='getfatcatchanges'
                [ngStyle]="{'background-color':activetext == 'getfatcatchanges'? 'rgb(208, 238, 236)' : 'white' }">
                <h3 class="getfat">Getfatcatchanges</h3>
                <p>If selected column contains given input field then we will return Class A/B/C for that row in a
                    column</p>
                <p>Ex:- 'Fatality' is The input field and selected column is Event sub Type then we will get Class A For
                    Fatality Class A
                </p>
            </section>

            <section id='replacingvalue'
                [ngStyle]="{'background-color':activetext == 'replacingvalue'? 'rgb(208, 238, 236)' : 'white' }">
                <h3 class="replace">Replacing Value</h3>
                <p>If you want to replace values with in selected column then we have to give input as key
                    value(Dictionary) format </p>
                <p>Ex:- ('Eye':'Eyes','Leg':'Legs') is the input field and selected column is Bodypart then we will get
                    result with replaced inputs
                </p>
            </section>

            <section id='combinereplacevalue'
                [ngStyle]="{'background-color':activetext == 'combinereplacevalue'? 'rgb(208, 238, 236)' : 'white' }">
                <h3 class="combinereplace">Combine Replace Value</h3>
                <p>If you want to replace values and need to combine two columns</p>
                <p>Ex:- ('Eye':'Eyes','Leg':'Legs') is the input field and selected column is Bodypart and other column
                    is OtherBodypart then we will get result of combining columns with replaced inputs
                </p>
            </section>

            <section id='duplicatechange'
                [ngStyle]="{'background-color':activetext == 'duplicatechange'? 'rgb(208, 238, 236)' : 'white' }">
                <h3 class="duplicate">Duplicate Change</h3>
                <p>If you want to duplicate a column then you need to select what column you want to duplicate</p>
                <p>Ex:- PoliceEVID is the column want to duplicate then we will get result with Duplicate column with
                    given text field name
                </p>
            </section>

            <section id='evntsubtypeProprtyRegulatorieschange'
                [ngStyle]="{'background-color':activetext == 'evntsubtypeProprtyRegulatorieschange'? 'rgb(208, 238, 236)' : 'white' }">
                <h3 class="regulatories">Event SubTypeProprtyRegulatorieschange</h3>
                <p>Here we will select 2 columns based on first column value we will get Corresponding 2nd column value
                    based on Given Input text value</p>
                <p>Ex:- Event Type and Event Sub Type are Two columns we will give input text as 'Property Damage' and
                    we will get Corresponding value from Event sub Type
                </p>
            </section>

            <section id='commachange'
                [ngStyle]="{'background-color':activetext == 'commachange'? 'rgb(208, 238, 236)' : 'white' }">
                <h3 class="commachange">Comma Change</h3>
                <p>If you want to replace ,, for a number in a column then we will use this Transformation</p>
                <p>Ex:- if there is a number like 40 then we will get result as 40,, in a column
                </p>
            </section>

            <section id='treatmentchange'
                [ngStyle]="{'background-color':activetext == 'treatmentchange'? 'rgb(208, 238, 236)' : 'white' }">
                <h3 class="treatment">Treatment Change</h3>
                <p>Here we will select one column and we will give input text . Based on First two inputs we will
                    replace those values with next two values and we will return Input</p>
                <p>Ex:- if we select Event Type as column and I will give text field as First Aid Case,Medical Treatment
                    Case,First Aid,Medical Treatment. Here First Aid case will be replaced with First Aid and Medical
                    Treatment Case will be replaced with Medical Treatment in a New column
                </p>
            </section>

            <section id='changepolice'
                [ngStyle]="{'background-color':activetext == 'changepolice'? 'rgb(208, 238, 236)' : 'white' }">
                <h3 class="changepolice">Change Police</h3>
                <p>If the selected column data is available then we will populate it as TRUE</p>
            </section>

            <section id='datefunctions'
                [ngStyle]="{'background-color':activetext == 'datefunctions'? 'rgb(208, 238, 236)' : 'white' }">
                <h3 class="datefunctions">Date Functions</h3>
                <p>If you want to add date column and time column into single column then we will use this
                    Transformation</p>
                <p>Ex:- 12/02/2019 and 12:30 then we will get result as 12/02/2019 12:30
                </p>
            </section>

            <section id='timechanges'
                [ngStyle]="{'background-color':activetext == 'timechanges'? 'rgb(208, 238, 236)' : 'white' }">
                <h3 class="timechanges">Time Changes</h3>
                <p>If you want to convert days to years then we will use this Transformation</p>
            </section>

            <section id='datatypechange'
                [ngStyle]="{'background-color':activetext == 'datatypechange'? 'rgb(208, 238, 236)' : 'white' }">
                <h3 class="datatype">Data Type Change</h3>
                <p>If you want to convert Particular column datatype like float to int then we will use this
                    Transformation</p>
                <p>Ex:- 12345.0 then we will get result as 12345 in new column
                </p>
            </section>
        </div>
        <div class="scrollTop">
            <span>
                <mat-icon class="material-icons-outlined" (click)="content.scrollIntoView(true)">
                    arrow_upward
                </mat-icon>
            </span>
        </div>
    </div>
</div>