html{
    scroll-behavior: smooth;
}
.head{
    display: flex;
    justify-content: space-between;
  }
  .helpContainer{
      border:1px solid grey;
      border-radius: 4px;
      padding: 10px;
      margin: 10px;
      height:65vh;
      overflow: auto;
  }
  .helpContainer ul{
      list-style-type: none;
  }
  .helpContainer ul li{
    margin:10px 0;
  }
  .helpContainer ul li a{
      text-transform: capitalize;
      color: rgb(25, 25, 121);
      cursor: pointer;
      font-weight: 500;
  }
  .helpContainer ul li a:hover{
      text-decoration: underline;
  }
  section h3{
      color: rgb(24, 24, 109);
      font-weight: 500;
      text-decoration: none;
    //   background-color: rgb(216, 151, 151);

  }
 
  ::-webkit-scrollbar{
      width:5px;
  }
  ::-webkit-scrollbar-track{
      background: #f1f1f1;
      border-radius: 0 4px 4px 0;
  }
  ::-webkit-scrollbar-thumb{
      background: #888;
  }
  ::-webkit-scrollbar-thumb:hover{
    background: #555;
}
.scrollTop span{
    float: right;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: white;
    border: none;
    box-shadow: 2px 2px 4px #000;
    position: relative;
}
.scrollTop mat-icon{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
