<div>
  <br>
  <div class="btns text-center">
    <div class="headingtabs">
      <button (click)="appendNewColumn()" class="commit"
        [disabled]="runDisabled && selectedTransformationsArr.length == 0 || appliedTransformationNamesArr.length == 0"
        [ngStyle]="{'background-color':runDisabled ? '#f1f1f1' :'#e2e1e1' }">
        <mat-icon class="material-icons-outlined"
          [ngStyle]="{'color':runDisabled && selectedTransformationsArr.length > 0 ? 'lightgray' :'green' }">
          play_arrow
        </mat-icon>
      </button>
      <button (click)="designtab()">Design</button>
      <button (click)="resultTab = true; resulttab()"
        [ngStyle]="{'background-color':resultTab ? 'lime' :'#f1f1f1' }">Result</button>
      <!-- <button (click)="prepTab()">Turbo Prep</button> -->
    </div>
    <!-- <button style="float: right;"> -->
    <div style="display: flex; flex-direction: row; float: right; justify-content: space-around;">
      <h3 (click)="openHelpDialog()" style="font-weight: bold; cursor: pointer;color:blue;text-decoration: underline;"
        class="mr-2">Help</h3>
      <mat-icon class="material-icons-outlined" class="helpIcon" color="primary" (click)="openHelpDialog()">
        help_outline
      </mat-icon>
    </div>

    <!-- </button> -->
  </div>

  <app-results *ngIf="resultTab"></app-results>
  <app-preprocessing *ngIf="preTab"></app-preprocessing>
  <div *ngIf="designTab">


    <div class="mt-2 ml-2">

      <button class="file-upload-button">
        <input type="file"
          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          #fileInput (change)="onFileSelect($event)" />
      </button>
    </div>
    <hr>
    <div>
      <div class="row ml-1 mr-1" cdkDropListGroup>
        <div class="col-3">
          <mat-card class="left-card1">
            <mat-card-content>
              <div>
                <span (click)="arrowExpansion()" style="display: flex;align-items: center;cursor:pointer">
                  <mat-icon *ngIf="isShown">
                    {{isDisabled?'keyboard_arrow_right':'keyboard_arrow_down'}}</mat-icon>
                  <mat-icon class="folder">folder</mat-icon> Input Data
                </span>
                <div class="filesContainer" [hidden]="isDisabled?true:false"
                  *ngFor="let file of multipleFiles;let i=index">
                  <div>
                    <!-- <p (click)="uploadedfile();" class="fileData" style='cursor:pointer'>{{file.name}}</p> -->
                    <p (click)="displayFileData(i)" class="fileData" style='cursor:pointer'>{{file.name}}</p>
                  </div>
                </div>

                <div *ngIf="fileuploadservice.saveFileObj.length!=0">
                  <span (click)="outputExpansion()" style="display: flex;align-items: center;cursor:pointer">
                    <mat-icon *ngIf="isShown">
                      {{isoutputDisabled?'keyboard_arrow_right':'keyboard_arrow_down'}}</mat-icon>
                    <mat-icon class="folder">folder</mat-icon>Saved Files
                  </span>
                  <div class="filesContainer1" [hidden]="isoutputDisabled?true:false"
                    *ngFor="let file of fileuploadservice.saveFileObj;let i=index">
                    <div>
                      <!-- <p (click)="uploadedfile();" class="fileData" style='cursor:pointer'>{{file.name}}</p> -->
                      <p (click)="outputFileData(i)" class="fileData" style='cursor:pointer'>{{file.name}}</p>
                    </div>
                  </div>
                </div>



                <!-- <div *ngIf="i == 0">
                  <mat-form-field appearance="outline" style="width:100%" [hidden]="multipleFiles.length==1">
                    <mat-select [(ngModel)]="selectedCol1">
                      <mat-option *ngFor="let col of multiFileCols[i]" [value]="col">{{ col }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div *ngIf="i == 1">
                  <mat-form-field appearance="outline" style="width:100%">
                    <mat-select [(ngModel)]="selectedCol2">
                      <mat-option *ngFor="let col of multiFileCols[i]" [value]="col">{{ col }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div *ngIf="i == 2">
                  <mat-form-field appearance="outline" style="width:100%">
                    <mat-select [(ngModel)]="selectedCol3">
                      <mat-option *ngFor="let col of multiFileCols[i]" [value]="col">{{ col }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->
              </div>
              <div class="submitBtn" [hidden]="isDisabled?true:false">
                <!-- <mat-form-field appearance="outline" *ngIf="multiFileCols.length>=2">
                  <mat-select [(ngModel)]="selectedMethod">
                    <mat-option *ngFor="let method of methods" [value]="method">{{method}}</mat-option>
                  </mat-select>
                </mat-form-field> -->
                <!-- <button mat-raised-button color="primary" (click)="onFileSubmit()" type="submit">Submit</button> -->
              </div>
            </mat-card-content>
          </mat-card>
          <mat-card class="left-card2 mt-2">
            <mat-card-content>
              <span (click)="onShowTransformations()" style="display: flex;align-items: center;cursor:pointer">
                <mat-icon *ngIf="isShown">
                  {{showTransformations ?'keyboard_arrow_down':'keyboard_arrow_right'}}</mat-icon>
                <mat-icon class="folder">folder</mat-icon>Transformation Names
              </span>
              <div cdkDropList #dragList="cdkDropList" [cdkDropListData]="transformationsArr"
                [cdkDropListConnectedTo]="[dropList]" (cdkDropListDropped)="drop($event)" cdkDropListSortingDisabled
                [ngStyle]="{'margin':transformationsArr.length ?'10px':'0'}"
                [ngClass]="{'disable':isTransformationsEnabled && appliedTransformationNamesArr.length>0 || selectedTransformationsArr.length > 0}">
                <ng-container *ngIf="transformationsArr.length > 0 && showTransformations">
                  <div [style.overflow]="'auto'" [style.height.px]="'180'">
                    <p cdkDrag matTooltip="Go to Help for more Info.." *ngFor="let val of transformationsArr"
                      class="fileData transNames" [ngClass]="{'enable':is_disabled == true}">
                      {{val}}</p>
                  </div>
                </ng-container>
              </div>
            </mat-card-content>
            <div>
              <span style="display: flex;align-items: center;cursor:pointer"
                (click)="removeNullsExpand = !removeNullsExpand">
                <mat-icon *ngIf="isClicked">
                  {{removeNullsExpand ?'keyboard_arrow_down':'keyboard_arrow_right'}}</mat-icon>
                <mat-icon class="folder">folder</mat-icon>Remove Nulls & Duplicate Values
              </span>
              <div *ngIf="removeNullsExpand" class="remove_nulls">
                <p *ngFor="let item of removeDuplicates" (click)="removeNullsDialog(item)" style="cursor:pointer">{{
                  item }}</p>
              </div>
            </div>
            <div>
              <span style="display: flex;align-items: center;cursor:pointer"
                (click)="joinfilesExpand = !joinfilesExpand">
                <mat-icon *ngIf="isClicked">
                  {{joinfilesExpand ?'keyboard_arrow_down':'keyboard_arrow_right'}}</mat-icon>
                <mat-icon class="folder">folder</mat-icon>Join Files
              </span>
              <div *ngIf="joinfilesExpand" class="remove_nulls">
                <p (click)="joinfilesDialog()" style="cursor:pointer">Join</p>
              </div>
            </div>
          </mat-card>
        </div>
        <div class="col-6">
          <mat-card class="maincard" cdkDropList #dropList="cdkDropList" [cdkDropListData]="selectedTransformationsArr"
            [cdkDropListConnectedTo]="[dragList]" (cdkDropListDropped)="drop($event)">
            <mat-tab-group class="remove-border-bottom">
              <mat-tab label="Process" color="accent">
                <mat-card-content class="process">
                  <p class="_tab"></p>
                  <div class="draggedItemsContainer">
                    <button class="addBtn" (click)="addTransName()">
                      Add
                      <mat-icon class="material-icons-outlined">
                        add
                      </mat-icon>
                    </button>

                    <div *ngFor="let val of selectedTransformationsArr;let i=index" cdkDrag class="tNames">
                      <button class="transNamesBtn" (click)="selectColumnsDialog()"><span>{{ val }}</span>
                        <mat-icon class="material-icons-outlined" (click)="deleteTransformation(i)">
                          close
                        </mat-icon>
                      </button>
                    </div>
                    <div *ngIf="appliedTransformationNamesArr.length > 0">
                      <div *ngFor="let appliedTransName of appliedTransformationNamesArr;let i=index">
                        <button class="transNamesBtn" [ngClass]="{'applied':appliedTransName}"><span>{{ appliedTransName
                            }}</span>
                          <mat-icon class="material-icons-outlined" (click)="deleteAppliedTransformation(i)">
                            close
                          </mat-icon>
                        </button>
                      </div>
                      <!-- <ng-container *ngIf="notPresentInData.length != 0">
                        <div *ngFor="let appliedTransName of notPresentInData;let i=index">
                          <button class="transNamesBtn" [ngClass]="{'failed':appliedTransName}"><span>{{
                              appliedTransName }}</span>
                            <mat-icon class="material-icons-outlined" (click)="deleteAppliedTransformation(i)">
                              close
                            </mat-icon>
                          </button>
                        </div>
                      </ng-container> -->
                    </div>
                    <div *ngIf="selectedTransformationsArr.length == 0 && appliedTransformationNamesArr.length == 0"
                      style="color:grey;">Please drag transformation names and drop here...</div>
                    <div>
                    </div>
                  </div>
                </mat-card-content>
              </mat-tab>
            </mat-tab-group>
          </mat-card>
        </div>
        <div class="col-3">
          <mat-card class="right-card">
            <mat-card-content>
              <p><strong>Parameters</strong></p>
              <hr>
              <span style="display:flex;align-items: center;">
                <mat-icon class="material-icons-outlined" style="margin-right: 10px;">
                  playlist_add_check
                </mat-icon><strong>Selected Transformation names</strong>
              </span>
              <hr>
              <!-- <div class="selectAttr">
                <span class="atr">Attributes</span>
                <span><button (click)="selectColumnsDialog()" class="selectColBtn"
                    [disabled]="selectedTransformationsArr <= 0">Select Columns</button></span>
              </div>
              <hr> -->
              <div [hidden]="!showCommittedTransNames">
                <p><strong>Selected Transformations</strong>&nbsp;&nbsp;<span
                    *ngIf="committedTransformations.length>0">{{ successCommitedarray.length }}</span></p>
                <hr>
                <div class="commitTranformations" style="cursor:pointer">
                  <p *ngFor="let transName of successCommitedarray;let i = index">
                    {{ i + 1 }} . {{ transName }}
                  </p>
                </div>
              </div>

              <div [hidden]="!showCommittedTransNames">
                <p class="mt-1"><strong>Failed Transformations</strong>&nbsp;&nbsp;<span
                    *ngIf="committedTransformations.length>0">{{
                    failedCommitedarray.length }}</span></p>
                <hr>
                <div class="commitTranformations" style="cursor:pointer">
                  <p *ngFor="let transName of failedCommitedarray;let i = index">
                    {{ i + 1 }} . {{ transName }}
                  </p>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>

</div>
<app-loader [isLoading]="isLoading"></app-loader>