.file-upload-button {
    background-color:#1746c7;
    color:white;
    height: 2rem;
    overflow: hidden;
    position: relative;
    width:200px;
    margin-left: 12px;
    border-radius: 4px;
    border: 1px solid gray;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);

  &::after {
    content: '+  Import file';
    font-size: 1rem;
    text-align: center;
  }

  input[type="file"] {
        font-size: 100px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
    }
}

.file-info {
  color: #999;
  font-family: Lato;
  margin-left: 0.5rem;
}
.example-container {
  width: 95%;
  height: 550px;
  margin: 10px;
  border: 1px solid #555;
}
.drawer{
  width:200px
}
.buttontabs{
  display: flex;
  justify-content: center;
}
.folder{
  color:rgb(221, 189, 74)
}
.fileData{
  margin-left: 25px;
  cursor:pointer;
}
.left-card1{
  height: 31.8vh;
  background-color: #f1f1f1;
    border: 1px solid lightgray;
    display: flex;
}
.left-card2{
    background-color: #f1f1f1;
    border: 1px solid lightgray;
    height: 44.5vh;
    overflow: auto;
}
.maincard{
  padding-top: 0px;
  padding-left: 0;
  padding-right: 0;
  // position: relative;
  height: 77vh;
  border: 1px solid lightgray;
}
.right-card{
  // background-color: rgb(228, 224, 224);
  // padding-bottom: 130%;
  height: 77vh;
  background-color: #f1f1f1;
  border: 1px solid lightgray;
}
.tableicon{
  color:rgb(55, 55, 163)
}
::ng-deep .mat-tab-label{
  border-bottom: none;
  border: 1px solid lightgray;
  // background: lightgray;
  background: #e1e1e1;
  height: 35px !important;
  font-size: 18px !important;
  font-weight: bold !important; 
  opacity: 1 !important;
  font-family: -webkit-pictograph !important;
  
}
::ng-deep .mat-tab-labels{
  // background-color: rgb(230, 230, 230);
  background-color: #f1f1f1;
  height:30px;
}
// ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
// ::ng-deep .mat-tab-nav-bar.mat-primary .mat-ink-bar {
//   border-bottom: none !important;
// }
::ng-deep .mat-ink-bar{
  // background-color: lightgray !important;
  background-color:#e1e1e1 !important;
}
mat-card-content ._tab{
  background: #e1e1e1;
    padding: 5px;
    padding-left: 20px;
    font-size: 12px;
    height: 25px;
}
::ng-deep .mat-tab-nav-bar, ::ng-deep .mat-tab-header {
//  border-bottom: 1px solid rgba(0,0,0,.12);
 border-bottom: none;
}
.transNames{
  // position: absolute;
  z-index: 1;
  
}
.box{
  width:70px;
  height:70px;
  border:1px solid grey;
  background-color: #f1f1f1;
}
.box mat-icon{
  width: 30%;
  margin: auto;
}
.process{
  height: 60vh;
  overflow: auto;
  height: 71vh;
}
.selectColBtn{
  border-radius: 4px;
  height: 30px;
  border: none;
  box-shadow: 0px 0px 4px #000;
  font-size: 1vw
}
.selectAttr{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.atr{
  font-size: 14px;
  font-weight: 500;
}
// .cdk-drop-list{
//   margin:10px
// }
// .cdk-drag{
//   margin-left: 5%;
//   display: inline-block;
// }
.tNames{
  margin-left: 5%;
  display: inline-block;
}
// .left-card2 ::-webkit-scrollbar {
//   width: 5px;
// }

// .left-card2 ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

// .left-card2 ::-webkit-scrollbar-thumb {
//   background: #888;
//   border-radius:0 4px 4px 0;
// }

// .left-card2 ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }
.btns button{
  color:black;
  background-color: rgb(226, 225, 225);
  border:1px solid gray;
  width:100px;
  height:30px;
  text-align: center;
  // padding:5px;
  text-decoration: none;
}
.disable{
  pointer-events: none;
  opacity: .5;
}
.enable{
  pointer-events: visible;
  opacity: none;
}
.transNamesBtn{
  padding: 7px 14px;
    border-radius: 4px;
    display: flex;
    font-size: 16px;
    border: none;
    box-shadow: 0px 0px 4px #000;
    text-align: center;
    margin:10px 5px;
}
.transNamesBtn mat-icon{
  font-size: 20px;
  color:crimson;
  font-weight: 900;
}
.draggedItemsContainer{
  border:1px dashed grey;
  height: 65vh;
  margin: 10px;
    padding: 10px;
    overflow: auto;
}
.applied{
  background-color: rgb(204, 247, 204);
}
.failed{
  background-color: rgb(202, 113, 113);
}
// .commit{
//   position: relative;
//   bottom: -10px;
// }
// .commit{
//   position: relative;
//   top: 21px;
//   width:60px !important;
//   border-radius: 4px 0 0 4px;
// }
// .commit mat-icon{
//   // position: relative;
//   // bottom: 10px;
//   // font-size: 35px;

//   display: flex;
//   justify-content: center;
//   left:0;
//   right:0;
//   bottom:10%;
//   position: absolute;
// }
.headingtabs{
display: flex;
flex-direction: row;
justify-content: center;

}
.addBtn{
  float:right;
  background: transparent;
  outline:none;
  display: flex;
  align-items: center;
  border-radius: 4px;
}
.addBtn mat-icon{
  font-size: 20px;
}
.remove_nulls{
  margin: 5px 0 0 25px;
}
.remove_nulls p{
  margin: 0 0 6px;
}
.commitTranformations{
  background: white;
  height: 25vh;
  overflow: auto;
  border-radius: 8px;
  border: 1px solid lightgrey;
  padding: 10px;
}
.commitTranformations p{
  text-transform: capitalize;
  font-weight: 500;
}
button{
  outline:none;
}
.transContainer{
  height: 30vh;
  overflow: auto;
}
.transformationsDiv{
  height:250px;
  overflow: auto;
}
.filesContainer::ng-deep .mat-form-field-infix{
  width: 120px !important;
}
mat-form-field::ng-deep .mat-form-field-wrapper {
  padding: 0;
}

mat-form-field::ng-deep .mat-form-field-infix {
  border: none;

}

mat-form-field::ng-deep .mat-select-arrow-wrapper {
  display: inline;
}
.filesContainer{
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
}
.filesContainer1{
  display: flex;
  // flex-direction: row;
  justify-content: space-between;
}
.submitBtn{
  display: flex;
  justify-content: space-around;
  left:0;
  right:0;
  bottom:10%;
  position: absolute;
}
.submitBtn button{
  height: 35px;
}
.helpIcon{
  float: right;
    margin-right: 1%;
    margin-top: 1%;
    cursor: pointer;
}
