.process{
    overflow: auto;
    height: 71vh;
  }
  ::ng-deep .mat-tab-nav-bar, ::ng-deep .mat-tab-header {
     border-bottom: none;
    }
    ::ng-deep .mat-tab-label{
        // border-bottom: none;
        border: 1px solid lightgray;
        background: #e1e1e1;
        border-radius: 5px;
        height: 35px !important;
        font-size: 18px !important;
        font-weight: bold !important; 
        opacity: 1 !important;
        font-family: -webkit-pictograph !important;
        
      }
      ::ng-deep .mat-tab-body-content {
        height: 100%;
        overflow: visible !important;
      }
      ::ng-deep .mat-tab-labels{
        background-color:transparent;
        border-bottom: 1px solid rgb(41, 39, 39);
        height:30px;
      }
      ::ng-deep .mat-ink-bar{
        background-color:#e1e1e1 !important;
      }
      .leftCard{
        background: #e1e1e1;
        border: 1px solid lightgray;
        height:83vh;
        overflow: auto;
      }
      .clnsBtn{
          border: none;
          background-color: transparent;
          display:flex;
          flex-direction: row;
          align-items: center;
          outline:none;
      }
      .clnsBtn:hover{
        color:orangered;
      }
      .thead{
          background-color: rgb(45, 68, 102);
          color:white;
      }
      
      .sideText{
     border-left:4px solid orangered;
     margin-top:40px;
     p{
       margin-left: 2px;
       margin-top: -8px;
     }
      }
      .methods{
          button {
              border:1px solid black;
              border-radius: 10px;
          }
      }
      mat-form-field{
          width:100%;
      }
      mat-form-field::ng-deep .mat-form-field-wrapper {
        padding: 0;
        
      }
      
      mat-form-field::ng-deep .mat-form-field-infix {
        border: none;
      }
      
      mat-form-field::ng-deep .mat-select-arrow-wrapper {
        display: inline;
      }
      .pcaBlock{
        border:1px solid gray;
        border-radius: 10px;
        .applybtn {
            border: none;
            background-color: transparent;
            display:flex;
            flex-direction: row;
            align-items: center;
            outline:none;
            margin: auto;
          }
      }
      .discrBlc{
       display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      mat-form-field{
        width:50% !important;
      }
      }
      th span {
        display: block;
        white-space: nowrap;
      }
      th, td{
        width: 99%;
        white-space: nowrap !important;
        overflow: auto;
      }
      ::ng-deep .mat-tooltip {
        white-space: pre-wrap;
        text-overflow: unset !important ;
        font-size: 14px;
        max-width:unset !important;
      }
      .file-upload-button {
        border: none;
        background-color: transparent;
        outline: none;
        height: 2rem;
        overflow: hidden;
        position: relative;
        margin-left: 12px;
    
      &::after {
        content: '+  Load Data';
        font-size: 1rem;
        text-align: center;
      }
    
      input[type="file"] {
            font-size: 100px;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
        }
    }
    .table-responsive{
      width: 99%;
   overflow: auto; 
    margin: 10px;
    height: 70.5vh;
  }
    .form-control{
      background: transparent !important;
    }
    .input-group-text{
      background: transparent !important;
      padding:0 !important;
    }
    ::ng-deep.mat-menu-panel {
      height:200px !important;
      max-width:450px !important;
    }
     ::ng-deep.menuDiv{
     h3{
       line-height: inherit !important;
       margin: auto !important;
     }
     p{
       line-height: inherit !important;
       margin: auto !important;
       font-size: 12px;
     }
     hr{
       margin:4px;
       border-top: 2px solid rgba(0,0,0,.1);
     }
   }
// .btn-block{
//   border: 1px solid black;
//   border-radius: 20px;
// }
th.tablehead{
  width: 100%;
}
table, th, td{
  width: 100%;
  border:1px solid grey;
  padding:10px;
  white-space: nowrap !important;
  overflow: auto;
}

.mat-header-cell {
  color: black !important;
  font-size: 16px !important;
  
}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell {


  text-align: center !important;
}
mat-table {
  display: -webkit-inline-box !important; 
}
// .table-container{
//   // padding: 10px;
//   border: 1px solid grey;
//   box-shadow: 0px 0px 4px #000;
//   height: 86vh;
//   margin-top: 16px;
//     overflow: auto;
// }
.table-example-container{
  position: relative;
  max-height: 585px;
  overflow: auto;
}
.example-container{
  height: 68vh;
position: relative;
  width: 99%;
  max-width: 100%;
  margin: 10px;

}
.mat-table {
  background: transparent !important;
}
th.mat-header-cell, td.mat-cell {
  padding: 15px;
  width:auto;
}
.searchBtn{
  border:1px solid black;
 display: flex;
 flex-direction: row;
 align-items: center;
 width: 400px;
    justify-content: center;
    margin: auto;
    input {
      width:400px;
      font-size: 18px;
      font-weight: 400;
    }
}