<mat-tab-group class="remove-border-bottom mt-2">
    <mat-tab label="Turbo Prep" color="accent">
        <div class="row">
            <div class="col-3">
                <mat-card class="leftCard">
                    <div *ngIf="!isShown">
                        <h2>Data Sets</h2>
                        <button class="file-upload-button">
                            <input type="file"
                                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                #fileInput (change)="onFileSelect($event)" />
                        </button>
                        <div class="sideText">
                            <p style="color:orangered">Titanic</p>
                            <!-- <p>Samples/Data/Titanic</p> -->
                            <p>File Name: {{fileuploadservice.filename }}</p>
                            <p>Rows: {{fileuploadservice.rows}}</p>
                            <p>Columns:{{fileuploadservice.columns}}</p>
                            <p>Last Change : {{ displayLastChange ? fileuploadservice.lastChange:'none'}}
                            </p>
                        </div>
                    </div>
                    <div *ngIf="isShown" class="methods">
                        <form [formGroup]="Form">
                            <h2>Cleanse</h2>
                            <div style="display: flex;flex-direction: row;justify-content: center; ">
                                <p [ngStyle]="{'color': count>0 ? 'orangered':'none'}">
                                    {{count}} Column</p>
                                <p class="ml-2">Selected</p>
                            </div>

                            <!-- <button class="btn btn-block" (click)="autoCleansingDialog()">AUTO CLEANSING</button> -->

                            <div class="pcaBlock mt-2">
                                <button class="btn btn-block"
                                    [ngStyle]="{'background': isShowRemove ? 'rgb(45, 68, 102)':'none', 'color': isShowRemove ? 'white':'black'}"
                                    (click)="toggleDisplay4();selectMethod('removelowquality')" id="lowQuality"
                                    [disabled]="disabled('removelowquality')">REMOVE LOW
                                    QUALITY</button>
                                <div *ngIf="isShowRemove">
                                    <div class="discrBlc">
                                        <mat-label>Max Nominal ID-ness(%):</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput formControlName="maxNominalId" type="number">
                                        </mat-form-field>
                                    </div>
                                    <div class="discrBlc">
                                        <mat-label>Max Integer ID-ness(%):</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput formControlName="maxInteger" type="number">
                                        </mat-form-field>
                                    </div>
                                    <div class="discrBlc">
                                        <mat-label>Max Stability(%):</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput formControlName="maxStability" type="number">
                                        </mat-form-field>
                                    </div>
                                    <div class="discrBlc">
                                        <mat-label>Max Missing(%):</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput formControlName="maxMissing" type="number">
                                        </mat-form-field>
                                    </div>
                                    <div class="discrBlc">
                                        <mat-label>Max Nominal values:</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput formControlName="maxNominal" type="number">
                                        </mat-form-field>
                                    </div>
                                    <button class="applybtn" (click)="applyCommit()"
                                        [disabled]="Form.controls.inputName.value== ''">
                                        <mat-icon style="cursor: pointer;">done</mat-icon>
                                        <span>APPLY</span>
                                    </button>
                                </div>
                            </div>

                            <div class="pcaBlock mt-2">
                                <button class="btn btn-block"
                                    [ngStyle]="{'background': isShowcorrelat ? 'rgb(45, 68, 102)':'none', 'color': isShowcorrelat ? 'white':'black'}"
                                    (click)="toggleDisplay5();selectMethod('removecorrelated')" id="correlated"
                                    [disabled]="disabled('removecorrelated')">REMOVE
                                    CORRELATED</button>
                                <div *ngIf="isShowcorrelat">
                                    <mat-form-field appearance="outline">
                                        <input matInput formControlName="inputName" type="number">
                                    </mat-form-field>
                                    <button class="applybtn" (click)="applyCommit()"
                                        [disabled]="Form.controls.inputName.value== ''">
                                        <mat-icon style="cursor: pointer;">done</mat-icon>
                                        <span>APPLY</span>
                                    </button>
                                </div>
                            </div>
                            <div class="pcaBlock mt-2">
                                <button class="btn btn-block"
                                    [ngStyle]="{'background': isShowReplace ? 'rgb(45, 68, 102)':'none', 'color': isShowReplace ? 'white':'black'}"
                                    (click)="toggleDisplay6();selectMethod('replacemissing')" id="replace"
                                    [disabled]="disabled('replacemissing')">REPLACE
                                    MISSING</button>
                                <div *ngIf="isShowReplace">
                                    <div class="discrBlc">
                                        <mat-label>Nominal Missings:</mat-label>
                                        <mat-form-field appearance="outline">
                                            <mat-select (selectionChange)="setValue()" formControlName="methodName">
                                                <mat-option *ngFor="let method of replaceMethods" [value]="method.name"
                                                    [disabled]="method.name==selectedOption||method.name==selectedOption1||method.name==selectedOption2||method.name==selectedOption3||method.name==selectedOption4||method.name==selectedOption5">
                                                    {{method.name}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="input-group mb-3"
                                        [hidden]="Form.controls.methodName.value !=='specifiedvalue'">
                                        <input type="text" class="form-control" formControlName="inputName"
                                            name="inputName" id="inputName" autocomplete="off">
                                        <span class="input-group-text">
                                            <button type="reset" class="applybtn">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </span>
                                    </div>
                                    <button class="applybtn" (click)="applyCommit()" [disabled]="applyDisabled ">
                                        <mat-icon style="cursor: pointer;">done</mat-icon>
                                        <span>APPLY</span>
                                    </button>
                                </div>
                            </div>
                            <div class="pcaBlock mt-2">
                                <button class="btn btn-block" (click)="toggleDisplay1();selectMethod('normalization')"
                                    [ngStyle]="{'background': isShowNormal ? 'rgb(45, 68, 102)':'none', 'color': isShowNormal ? 'white':'black'}"
                                    id="normalization" [disabled]="disabled('normalization')">NORMALIZATION</button>
                                <div *ngIf="isShowNormal">
                                    <mat-form-field appearance="outline">
                                        <mat-select formControlName="methodName">
                                            <mat-option *ngFor="let method of normlMethods" [value]="method">
                                                {{method}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <button class="applybtn" (click)="applyCommit()"
                                        [disabled]="Form.controls.inputName.value== ''">
                                        <mat-icon style="cursor: pointer;">done</mat-icon>
                                        <span>APPLY</span>
                                    </button>
                                </div>
                            </div>
                            <div class="pcaBlock mt-2">
                                <button class="btn btn-block" (click)="toggleDisplay3();selectMethod('discretization')"
                                    [ngStyle]="{'background': isShowDiscrmnal ? 'rgb(45, 68, 102)':'none', 'color': isShowDiscrmnal ? 'white':'black'}"
                                    id="discretization" [disabled]="disabled('decretization')">DISCRETIZATION</button>
                                <div *ngIf="isShowDiscrmnal">
                                    <div class="discrBlc">
                                        <mat-label>Number of bins:</mat-label>
                                        <mat-form-field appearance="outline">
                                            <input matInput formControlName="inputName" type="number">
                                        </mat-form-field>
                                    </div>
                                    <mat-form-field appearance="outline">
                                        <mat-select formControlName="methodName">
                                            <mat-option *ngFor="let method of pcaMethods" [value]="method">
                                                {{method}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <button class="applybtn" (click)="applyCommit()"
                                        [disabled]="Form.controls.inputName.value== ''">
                                        <mat-icon style="cursor: pointer;">done</mat-icon>
                                        <span>APPLY</span>
                                    </button>
                                </div>
                            </div>
                            <!-- <div class="pcaBlock mt-2">
                                <button class="btn btn-block " (click)="toggleDisplay7();selectMethod('dummyencoding')"
                                    [ngStyle]="{'background': isShowDummy ? 'rgb(45, 68, 102)':'none', 'color': isShowDummy ? 'white':'black'}"
                                    id="dummyEncoding" [disabled]="disabled('dummyencoding')">DUMMY
                                    ENCODING</button>
                                <button class="applybtn" (click)="applyCommit()"
                                    [disabled]="Form.controls.inputName.value== ''" *ngIf="isShowDummy">
                                    <mat-icon style="cursor: pointer;">done</mat-icon>
                                    <span>APPLY</span>
                                </button>
                            </div> -->

                            <!-- <div class="pcaBlock mt-2">
                                <button class="btn btn-block"
                                    [ngStyle]="{'background': isShowPca ? 'rgb(45, 68, 102)':'none', 'color': isShowPca ? 'white':'black'}"
                                    (click)="toggleDisplay();selectMethod('pca')" id="pca"
                                    [disabled]="disabled('pca')">PCA</button>
                                <div *ngIf="isShowPca">
                                    <mat-form-field appearance="outline">
                                        <mat-select formControlName="methodName">
                                            <mat-option *ngFor="let method of pcaMethods" [value]="method">
                                                {{method}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <mat-form-field appearance="outline">
                                        <input matInput formControlName="inputName" type="number">

                                    </mat-form-field>

                                </div> -->
                            <!-- </div> -->
                            <div class="pcaBlock mt-2">
                                <button class="btn btn-block"
                                    (click)="toggleDisplay2();selectMethod('removeduplicates')"
                                    [ngStyle]="{'background': isShowDuplic ? 'rgb(45, 68, 102)':'none', 'color': isShowDuplic ? 'white':'black'}"
                                    id="duplicates" [disabled]="disabled('removeduplicates')">REMOVE
                                    DUPLICATES</button>
                                <div *ngIf="isShowDuplic">
                                    <mat-checkbox class="ml-2" formControlName="removeDup" [checked]="isChecked">
                                        Treat missing values as
                                        duplicate?</mat-checkbox>
                                    <button class="applybtn" (click)="applyCommit();toggleDisplay2();"
                                        [disabled]="applyDupDisabled">
                                        <mat-icon style="cursor: pointer;">done</mat-icon>
                                        <span>APPLY</span>
                                    </button>
                                </div>
                            </div>
                            <!-- <ng-container *ngFor="let method of method_Names; let i=index">
                                <div class="pcaBlock mt-2">
                                    <button class="btn btn-block"
                                        (click)="toggleDisplay(i,method.button);">{{method.button.name}}</button>

                                    <ng-container *ngFor="let forms of method.formArray;">
                                        <div *ngIf="buttonId == i">
                                            <ng-container
                                                *ngTemplateOutlet="forms.formControlType == 'input' ? inputType:forms.formControlType == 'select' ? selectType: checkType">
                                            </ng-container>
                                        </div>

                                    </ng-container>
                                    <div *ngIf="buttonId == i">
                                        <button class="applybtn" (click)="applyCommit()">
                                            <mat-icon style="cursor: pointer;">done</mat-icon>
                                            <span>APPLY</span>
                                        </button>
                                    </div>

                                </div>

                            </ng-container>
                            <ng-template #selectType>

                                <mat-form-field appearance="outline">
                                    <mat-select formControlName="pca">
                                        <mat-option *ngFor="let method of pcaMethods" [value]="method">
                                            {{method}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </ng-template>
                            <ng-template #checkType>
                                <mat-checkbox class="ml-2" formControlName="removeDup">Treat missing values as
                                    duplicate?</mat-checkbox>
                            </ng-template>
                            <ng-template #inputType>
                                <mat-label></mat-label>
                                <mat-form-field appearance="outline">
                                    <input matInput formControlName="maxNominal" type="number">

                                </mat-form-field>
                            </ng-template> -->

                        </form>
                    </div>

                </mat-card>
            </div>
            <div class="col-9">
                <div>
                    <h2 style="color:orangered">Titanic</h2>
                    <p>Add new data sets on the left. Details for the selected data are shown below. You can change the
                        data with the following actions.</p>
                    <button class="clnsBtn" (click)="show = true;cleans() " *ngIf="!isShown"
                        matTooltip="Prepare your data for later modelling - or Perform an automatic data cleanse"
                        matTooltipPosition="right">
                        <mat-icon>brush</mat-icon>
                        <span>CLEANSE</span>
                    </button>
                    <div class="button-row" *ngIf="isShown">
                        <button class="btn"
                            [ngStyle]="{'background': isCommit ? 'green': 'grey', 'color':isCommit ? 'white':'black'}"
                            [disabled]="!isCommit" (click)="commitCleanse()">COMMIT
                        </button>
                        <button class="btn ml-2" [ngStyle]="{'color': isCommit ? 'black': 'orangered'}"
                            (click)="unCommit()">UNDO</button>
                    </div>
                </div>
                <div class="searchBtn">
                    <mat-icon class="material-icons-outlined">
                        search
                    </mat-icon>
                    <input matInput type="text" placeholder="search here ..." (keyup)="applyFilter($event)"
                        autocomplete="off">
                </div>

                <div class="mt-3 example-container ">
                    <div class="table-example-container">
                        <table mat-table [dataSource]="dataSource" class=" text-center">
                            <ng-container *ngFor="let columnName of _columnData; index as i"
                                [matColumnDef]="columnName">
                                <th mat-header-cell *matHeaderCellDef (click)="selectColumn(columnName,i)"
                                    [ngStyle]="{'background': activeColumn == i ? 'rgba(224, 128, 19, 0.884)':'none'}"
                                    style="cursor: pointer;" [matMenuTriggerFor]="menu">{{ columnName }}</th>
                                <td mat-cell *matCellDef="let row" (click)="selectColumn(columnName,i)"
                                    [ngStyle]="{'background': activeColumn == i  ? 'rgb(240, 218, 210)':'none'}">
                                    {{
                                    row[columnName] }}</td>

                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="_columnData" class="thead"></tr>
                            <tr mat-row *matRowDef="let row; columns: _columnData"></tr>

                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" [attr.colspan]="fileuploadservice.columns">
                                    {{messages.noRecordsFoundMsg}}
                                </td>
                            </tr>

                            <mat-menu #menu="matMenu" [overlapTrigger]="false">
                                <span (mouseleave)="menuTrigger.closeMenu()">
                                    <mat-icon (click)="menuTrigger.closeMenu()" style="float:right">close</mat-icon>
                                    <div style="padding-left:1%;" class="menuDiv">
                                        <h3>Name</h3>
                                        <p>Type:Category</p>
                                        <p>Most frequent:connolly,miss,kate(2)</p>
                                        <p>Least frequent:allen,miss,ellisabeth waltton(1)</p>
                                        <p class="text-info">ID-ness(%):88.95%</p>
                                        <p>Stability:22.3%</p>
                                        <hr>
                                        <p>Info on quality measures</p>
                                        <p>ID-ness:the number of different values for the column divided by the the
                                            number
                                            of rows</p>
                                        <p>Stability: the count for the most frequent non missing values for the column
                                        </p>
                                    </div>
                                </span>
                            </mat-menu>

                        </table>
                    </div>
                    <mat-paginator [pageSizeOptions]="[50,100,150]" [length]="tableLength" (page)="pagesize($event)"
                        showFirstLastButtons></mat-paginator>

                    <!-- <table class="table table-bordered table-responsive">
                        <thead class="thead">
                            <tr>
                                <th *ngFor="let val of fileuploadservice.preprocessTableData[0];index as i;"
                                    (click)="selectColumn(i)"
                                    [ngStyle]="{'background': activeColumn == i ? 'rgba(224, 128, 19, 0.884)':'none'}"
                                    style="cursor: pointer;" [matMenuTriggerFor]="menu">
                                    {{val}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let val of fileuploadservice.preprocessTableData;index as i">
                                <tr *ngIf="i > 0">
                                    <td *ngFor="let std of val; index as j" (click)="selectColumn(j); select(std)"
                                        [ngStyle]="{'background': activeColumn == j  ? 'rgb(240, 218, 210)':'none'}">
                                        {{std}}</td>

                                </tr>
                            </ng-container>
                            <mat-menu #menu="matMenu" [overlapTrigger]="false">
                                <span (mouseleave)="menuTrigger.closeMenu()">
                                <mat-icon (click)="menuTrigger.closeMenu()" style="float:right">close</mat-icon>
                                <div style="padding-left:1%;" class="menuDiv">
                                    <h3>Name</h3>
                                    <p>Type:Category</p>
                                    <p>Most frequent:connolly,miss,kate(2)</p>
                                    <p>Least frequent:allen,miss,ellisabeth waltton(1)</p>
                                    <p class="text-info">ID-ness(%):88.95%</p>
                                    <p>Stability:22.3%</p>
                                    <hr>
                                    <p>Info on quality measures</p>
                                    <p>ID-ness:the number of different values for the column divided by the the
                                        number
                                        of rows</p>
                                    <p>Stability: the count for the most frequent non missing values for the column
                                    </p>
                                </div>
                                </span>
                            </mat-menu>
                        </tbody>
                    </table> -->

                </div>


            </div>
        </div>

    </mat-tab>
</mat-tab-group>
<app-loader [isLoading]="isLoading"></app-loader>