<router-outlet></router-outlet>
<!-- <p>hello</p> -->
<!-- <mat-sidenav-container>

    <mat-sidenav #sidenav>
        <app-navbar (closeSideNav)="sidenav.close()"></app-navbar>
    </mat-sidenav>

    <mat-sidenav-content>
      <app-toolbar (SideNavToggle)="sidenav.toggle()"></app-toolbar>
      <app-navtabs></app-navtabs>
  
      <main>
        <router-outlet></router-outlet>
      </main>
      
    </mat-sidenav-content> 
</mat-sidenav-container> -->