<div>
  <mat-icon class="material-icons-outlined" (click)="onCancel()" style="cursor:pointer;float: right;">
    close
  </mat-icon>
  <div class="div_container">
    <h2 class="text-center">{{ title }}</h2>
    <div style="display: flex;
    justify-content: flex-start;
    align-items: baseline;">
      <h3 style="font-weight: 500;" class="ml-2">Imported files :</h3>
      <mat-form-field appearance="outline" style="margin-left:17%;">
        <mat-select [(ngModel)]="selectedFile" (selectionChange)="valuechange()">
          <mat-option *ngFor="let name of fileNames" [value]="name">
            {{name.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row_container">

      <mat-radio-group color="primary" [(ngModel)]="selectedValue">
        <mat-radio-button *ngFor="let item of selectionItems" [value]="item" [hidden]="isSinglecolumn">{{ item }}
        </mat-radio-button>
      </mat-radio-group>
      <div *ngIf="selectedValue == 'Single Column'">
        <ng-container *ngIf="selectedValue == 'Single Column'">
          <!-- <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="selectedColumn">
              <input matInput type="text" (keyup)="onKey($event)" class="input" placeholder="search..." autocomplete="off">
              <div class="optionsContainer">
              <mat-option *ngFor="let column of colNames" [value]="column">{{ column }}</mat-option>
              </div>
            </mat-select>
          </mat-form-field> -->
          <mat-form-field appearance="outline">
            <mat-select [(ngModel)]="selectedColumn">
              <mat-select-filter [array]="variables1" (filteredReturn)="filteredList1 =$event"></mat-select-filter>
              <div class="optionsContainer">
                <mat-option *ngFor="let item of filteredList1" [value]="item">
                  {{item}}
                </mat-option>
              </div>
            </mat-select>
          </mat-form-field>
        </ng-container>
      </div>
    </div>
    <div class="btns">
      <button class="btn btn-success" (click)="onSubmit()">Submit</button>
      <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
    </div>
  </div>
</div>