.head{
  display: flex;
  justify-content: space-between;
}
// .head button{
//   width: 60px;
//   height: 25px;
//   border-radius: 4px;
//   background: crimson;
//   border:none;
//   outline: none;
// }
.head button mat-icon{
  font-size: 20px;
  color: white;
}
mat-radio-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30%;
}
.div_container{
  border:1px solid grey;
  border-radius:4px;
  height: 42vh;
  padding: 10px;
}
.dropdown{
  display: flex;
  justify-content: flex-end;
  margin-right: 6%;
}
// .dropdown mat-form-field{
//   margin-right: 3%;
//   width:50%;
// }
.mat-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-form-field-flex {
  width: 200px;
  margin-left: 20px;
}
.input{
  height: 30px;
  margin: 10px;
  border: 1px solid grey;
  width: 90%;
  border-radius: 4px;
  box-shadow: 0 0 4px #000;
  padding-left:10px;
}
.btns{
  display: flex;
  justify-content: center;
}
.btns button{
  margin:0 5px;
  height:35px;
}
.row_container{
  height: 23vh;
  display: flex;
  align-items: baseline
}
mat-form-field::ng-deep .mat-form-field-wrapper {
  padding: 0;
}

mat-form-field::ng-deep .mat-form-field-infix {
  border: none;

}

mat-form-field::ng-deep .mat-select-arrow-wrapper {
  display: inline;
}
mat-radio-button{
  margin: 25px 0;
}
.optionsContainer{
  height: 200px;
  overflow-y: scroll;
}
::ng-deep .mat-select-panel{
  overflow:hidden !important;
}
mat-option{
  text-transform: capitalize;
}
