<!-- Muliple buttons modal -->
<div *ngIf="data && data.buttons && data.buttons.length > 1; else showDefaultModal">
    <h1 mat-dialog-title *ngIf="data?.dialogTitle" style="text-align: center;">{{ data?.dialogTitle }}</h1>
    <div mat-dialog-content style="text-align: center;">
        <div *ngIf="data?.htmlMsg; else showNormalView" [innerHTML]="data?.htmlMsg"></div>
        <ng-template #showNormalView>
            <p>{{ data?.message }}</p>
        </ng-template>
    </div>
    <div mat-dialog-actions class="align-end" style="text-align: center;top:20%;display: flex;
    justify-content: center">
        <ng-container *ngFor="let button of data?.buttons">
            <button mat-button style="margin-right: 20px;" (click)="button.handler()"
                [ngClass]="{ activeButtonColor: button?.active }">
                {{ button?.label }}
            </button>
        </ng-container>
    </div>
</div>

<!-- Default modal -->
<ng-template #showDefaultModal>
    <mat-dialog-content style="text-align: center" class="mt-20">
        <div [ngSwitch]="data?.iconType">
            <mat-icon class="mat-icon-font error" *ngSwitchCase="'Error'">error_outline</mat-icon>
            <mat-icon class="mat-icon-font success" *ngSwitchCase="'Success'">check_circle_outline</mat-icon>
            <mat-icon class="mat-icon-font warning" *ngSwitchCase="'Warning'">error_outline</mat-icon>
            <mat-icon class="mat-icon-font delete" *ngSwitchCase="'Delete'">delete_outline</mat-icon>
            <mat-icon class="mat-icon-font error" *ngSwitchCase="'Confirm'">help_outline</mat-icon>
        </div>
        <p class="dialogMsg">
            {{ data?.message }}
        </p>
        <p *ngIf="data?.subMessage" class="dialogSubMsg">{{ data?.subMessage }}</p>
    </mat-dialog-content>

    <div mat-dialog-actions class="text-center dialog-footer">
        <mat-spinner *ngIf="data?.displayLoader; else showButton" diameter="50"></mat-spinner>
        <ng-template #showButton>
            <button mat-raised-button class="OKBtnClass activeButtonColor" (click)="onOKClick()">
                OK
            </button>
        </ng-template>
    </div>



</ng-template>