.dialogMsg {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    font-family: sans-serif;
    margin-top: 25px;
  }
  
  .dialogSubMsg {
    text-align: center;
    font-size: 13px;
    position: relative;
    font-family: sans-serif;
  }
  
  .activeButtonColor {
    background: #1a8cff;
    color: white;
  }
  
  
  
  .mt-20 {
    margin-top: 20px;
  }
  
  .dialog-footer {
    margin-top: 35px;
    margin-bottom: 10px;
    justify-content: center;
  }
  
  .mat-icon-font {
    font-size: 40px;
    height: 40px;
    width: 40px;
  }
  
  .warning {
    color: #ffb82c;
  }
  
  .error {
    color: #fd003a;
  }
  
  .success {
    color: #2fb285;
  }
  
  .delete {
    color: #db5858;
  }
  