/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color:#f8f8f8;
}
// .left-card2 ::-webkit-scrollbar {
//   width: 5px;
// }

// .left-card2 ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

// .left-card2 ::-webkit-scrollbar-thumb {
//   background: #888;
//   border-radius:0 4px 4px 0;
// }

// .left-card2 ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }
.mat-filter-input{
  color: black !important;
}