<div>
    <mat-icon class="material-icons-outlined" (click)="onCancel()" style="cursor:pointer;float: right;">
        close
    </mat-icon>
    <div class="div_container">
        <h2 class="text-center">SaveFile</h2>
        <div class="commondiv mt-3">
            <h3 style="font-weight: 500;" class="ml-4">File Name:</h3>
            <mat-form-field appearance="outline" class="ml-4">
                <input type="text" matInput [(ngModel)]="filename" placeholder="Enter FileName">
                <mat-hint style="color:navy;font-size: 12px;">File will save only in XLSX </mat-hint>
            </mat-form-field>
        </div>
        <!-- <div class="commondiv">
            <h3 style="font-weight: 500;" class="ml-4">Type:</h3>
            <mat-form-field appearance="outline" class="" style="margin-left: 9%;">
                <mat-select [(ngModel)]="selectType">
                    <mat-option *ngFor="let item of selectTypes" [value]="item">{{item}}</mat-option>
                </mat-select>

            </mat-form-field>
        </div> -->
        <div class="btns mt-4">
            <button class="btn btn-success" (click)="onSubmit()" style="margin-right: 15px;">Submit</button>
            <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
    </div>
</div>
<app-loader [isLoading]="isLoading"></app-loader>